<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>About SunshiRe</h3>
                    <p>Sunshire Shuttle offers airport pickup and drop-off service, Point-to-Point service and hourly chartered service in the greater Los Angeles area.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 fh5co-footer-link">
                    <h3>Service Airports</h3>
                    <ul>
                        <li><a href="http://www.lawa.org/?from=sunshireshuttle">Los Angeles Airport</a></li>
                        <li><a href="https://www.flyontario.com/?from=sunshireshuttle">Ontario Airport(ONT)</a></li>
                        <li><a href="http://www.ocair.com/?from=sunshireshuttle">John Wayne Airport</a></li>
                        <li><a href="http://www.lgb.org/?from=sunshireshuttle">Long Beach Airport</a></li>
                        <li><a href="https://www.portoflosangeles.org/?from=sunshireshuttle">San Pedro Cruise Terminal</a></li>
                        <li><a href="https://help.carnival.com/app/answers/detail/a_id/1045/~/long-beach-cruise-ship-terminal-directions-and-parking">Long beach Cruise Terminal</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 fh5co-footer-link">
                    <h3>Top Hotels</h3>
                    <ul>
                        <li><a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-by-hilton-hotel-claremont-ONTCLDT/index.html">Doubletree Claremont</a></li>
                        <li><a href="http://www.sheraton.com/Fairplex">Sharaton Fairplex</a></li>
                        <li><a href="http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-and-suites-chino-hills-CICCAHX/index.html">Hampton Inn Chino Hills</a></li>
                        <li><a href="http://bestwesternontarioairport.com">Best Western ONT</a></li>
                        <li><a href="https://www.ayreshotels.com/ayres-hotel-ontario-mills-mall">Ayres Hotel Ontario Mills</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Top Restaurants</h3>
                    <ul>
                        <li><a href="http://onishichoramenpomona.com/">Onisicho Grill Express</a></li>
                        <li><a href="http://kazamasushirestaurant.com/">Kazama Sushi</a></li>
                        <li><a href="http://www.theluxebuffet.com/index.html">The Luxe Buffet</a></li>
                        <li><a href="http://wangchobbq.com/">Wang Cho BBQ</a></li>
                        <li><a href="https://www.zomato.com/inland-empire/pho-star-upland/menu?utm_source=Google&utm_medium=Local&utm_campaign=GoogleMenus">Pho Star</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Best Places</h3>
                    <ul>
                        <li><a href="https://disneyland.disney.go.com">Disneyland</a></li>
                        <li><a href="https://www.universalstudioshollywood.com">Universal Studio</a></li>
                        <li><a href="https://seaworld.com/san-diego/">Sea World</a></li>
                        <li><a href="https://www.sixflags.com/magicmountain">Six Flags</a></li>
                        <li><a href="https://www.legoland.com/california/">Lego Land</a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="https://twitter.com/Sunshireshuttle"><i class="icon-twitter2"></i></a>
                        <a href="https://www.facebook.com/SunShireEnterprise/"><i class="icon-facebook2"></i></a>
                        <a href="https://plus.google.com/103044502830358902261"><i class="icon-google"></i></a>
                        <a href="https://youtube.com"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2018 <a href="http://egosoftware.com">Sunshire Enterprise Inc.</a> All Rights Reserved. <br>Made with <i
                                class="icon-heart3"></i> by <a href="https://www.linkedin.com/in/yuan-yao-a08b92ba" target="_blank">Chris Yao</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
</footer>