<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="/"><i class="icon-airplane"></i>Sunshire Shuttle</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">


                    <li <% if(pageName === 'Home'){ %>
                            class="active"
                    <%}%>><a href="/">Home</a></li>

                    <li <% if(pageName === 'Flights'){ %>
                            class="active"
                            <%}%>><a href="/flights">Flights</a></li>
                    <li <% if(pageName === 'Services'){ %>
                            class="active"
                            <%}%>><a href="/services">Services</a></li>
                    <!--<li <% if(pageName === 'Contact'){ %>-->
                            <!--class="active"-->
                            <!--<%}%>><a href="/contact">Contact</a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>