<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<% include elements/head.ejs %>

<% include elements/datetimepicker-head.ejs %>
<% include elements/autocomplete-head.ejs %>
<% include elements/semantic-head.ejs %>

<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">

        <% include elements/nav.ejs %>

        <% include flight/flightsCore/cover.ejs %>

        <% include elements/footer.ejs %>

    </div>
</div>

<% include elements/js.ejs %>

<script src="/javascripts/flights_vc.js"></script>


</body>
</html>

