<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<% include elements/head.ejs %>

<link rel="stylesheet" href="/stylesheets/style.css">

<body>
<script src="/javascripts/index_vc.js"></script>
<div id="fh5co-wrapper">
    <div id="fh5co-page">

        <% include elements/nav.ejs %>

        <% include success/successCore.ejs %>

        <% include elements/footer.ejs %>

    </div>
</div>

<% include elements/js.ejs %>

</body>
</html>

