<div class="fh5co-hero" style="padding-bottom: 20px; height: 600px;">

    <div class="fh5co-overlay"></div>

    <div class="fh5co-cover" data-stellar-background-ratio="0.5" id="index-cover">
        <div class="index-content">
            <h2 style="color: white;text-align: center">Success!</h2>
            <h1 style="color: white;text-align: center">We have received your order request!</h1>
            <h1 style="color: white;text-align: center">We will confirm your order shortly.</h1>
            <h1 style="color: white;text-align: center">Your Reference # is <%= pre_order_id%></h1>

        </div>
    </div>
</div>