<div class="fh5co-hero" style="padding-bottom: 20px">

    <div class="fh5co-overlay"></div>

    <div class="fh5co-cover" data-stellar-background-ratio="0.5" id="services-cover">


        <div class="services-content">
            <div class="fh5co-explore fh5co-explore1" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-5 animate-box">
                            <img class="img-responsive" src="/images/happy_customer.png" alt="work">
                        </div>
                        <div class="col-md-4 col-md-pull-8 animate-box">
                            <div class="mt">
                                <h3>Reliable</h3>
                                <p>Sunshire Shuttle guarantees on time pickup for airport drop-off service. Each confirmed trip is confirmed through SMS text or email with a unique confirmation number. A SMS text is sent the day before the trip as a friendly reminder.</p>
                                <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="/videos/reliable.mp4"><i class="icon-eye"></i> Watch Video</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fh5co-explore" id="middle-general-intro">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-1 animate-box">
                            <img class="img-responsive" src="/images/safe_driver.png" alt="work">
                        </div>
                        <div class="col-md-4 animate-box">
                            <div class="mt">
                                <h3>Professional</h3>
                                <p>We make a full commitment to provide superior customer service experience. No matter you are on the phone, on our Website, or on the road with our drivers, your safety and satisfactory is always our top priority.
                                </p>
                                <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="/videos/safe_driver.mp4"><i class="icon-eye"></i> Watch Video</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fh5co-explore fh5co-explore1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-5 animate-box">
                            <img class="img-responsive" src="/images/we_care.png" alt="work">
                        </div>
                        <div class="col-md-4 col-md-pull-8 animate-box">
                            <div class="mt">
                                <h3>We Care</h3>
                                <p>We understand your flight could come early, late or even be canceled. That's why we monitor each of the arrival flight status and adjust the curbside pickup time according to the flight actual arrival.</p>
                                <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="/videos/customer_care.mp4"><i class="icon-eye"></i> Watch Video</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>