<div class="col-md-12">
    <div class="ui four top attached steps">

        <% include step-location.ejs %>
        <% include step-service.ejs %>
        <% include step-contact.ejs %>
        <% include step-payment.ejs %>
        <!--<% include step-confirm.ejs %>-->
    </div>

    <% include attach-location.ejs %>
    <% include attach-service.ejs %>
    <% include attach-contact.ejs %>
    <% include attach-payment.ejs %>
    <!--<% include attach-confirm.ejs %>-->

</div>